@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .nav__list{
    align-items: center;
    display: flex;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    
    padding: 1rem 2rem 0;
  }

  .nav__toggle{
    display: none;
  }

  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
    text-transform: uppercase;
  }

  /********************* End Of Part 1************************************/

  .section{
    padding-top: 8rem;
  }
  .home__container{
    height: 100vh;
    justify-items: center;
  }

  /********************************** End Of Part 2 **************************************/

  .change-theme{
    margin-left: var(--mb-2);
  }

  /********************************* End Of Part 3****************************************/
  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content{
    padding: 3.75rem .75rem;
  }
  .menu__img{
    width: 130px;
  }

  .app__store{
    margin: 0 var(--mb-1) 0 0;
  }

}
@media only screen and (max-width: 1024px){
  .home__data{
    margin-left: -30px;
     }
     .text{
      margin: 0 30px;
      /* height: 100vh; */
      padding-top: 15rem;
      text-align: right;
  }
     @media only screen and (max-width: 768px){
      .home__data{
        margin-left: -90px;
         }
         .luxury{
           font-size: 16vw;
         }
         .design{
           font-size: 8vw;
           margin: 0vw 0vw -6vw 19.5vw;
         }
         .text{
          margin: 0 30px;
          height: 100vh;
          padding: 19rem 0;
          text-align: right;
      }
      @media only screen and (max-width: 414px){
        .home__data{
          margin-left: -150px;
           }
           .text{
            margin: 0 30px;
            height: 100vh;
            padding: 5rem 0;
            text-align: right;
        }
        .slider{
          width: 132%;
        }
        .footer__container {
          padding-left: 5px;
          width: 132%;
        }
    
      }
    

  }




@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

    /********************************** End Of Part 2 **************************************/

    .about__container,
    .app__container{
      column-gap: 7rem;
    }
}

@media only screen and (max-width: 743px){
  body {
    background: url("../img/mob_SparkVideo.gif");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  }
}


@media screen and (min-width: 576px){
    /********************* End Of Part 1************************************/

    .home__container,
    .about__container,
    .app__container {
      /* grid-template-columns: repeat(2,1fr); */
      align-items: center;
    }
    /********************************** End Of Part 2 **************************************/

    .about__data, .about__initial,
    .app__data, .app__initial,
    .contact__container, .contact__initial, .cards__img
    {
      text-align: initial;
      justify-items: center;
    }

    .about__img{
      width: 380px;
      order: -1;
    }

    /************************************* End Of Part 3***********************************************/
    .app__img{
      width: 380px;
      order: -1;
    }

    .contact__container{
      grid-template-columns: 1.75fr 1fr;
      align-items: center;
    }
    .contact__button{
      justify-self: center;
    }
}


}