/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: futuramedium;
  src: url("../fonts/Futura-Medium.ttf");
}
@font-face {
  font-family: futurabook;
  src: url("../fonts/Futura-Book.ttf");
}
@font-face {
  font-family: futurameditalic;
  src: url("../fonts/Futura-Medium-Italic.ttf");
}
@font-face {
  font-family: cinzelbold;
  src: url("../fonts/Cinzel-Bold.ttf");
}
@font-face {
  font-family: cinzeldecorativebold;
  src: url("../fonts/CinzelDecorative-Bold.ttf");
}
/*========== BASE CSS Styles ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  /* max-width: 100%; */
  height: auto;
}

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --primary-color: #ffc857;
  --primary-color-alt: #ffc857;
  --title-color: #ffc857;
  --text-color: #ffffff;
  --text-color-light: #a6a6a6;
  --body-color: #2b0505;
  --container-color: #2b0505;

  /*========== Font and typography ==========*/
  --body-font: "Sora", sans-serif;
  --large-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.638rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margins ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z-index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  background: url("../img/leaf.gif");
  background-size: 100% auto;
  background-repeat: round;
  background-attachment: fixed;

  color: var(--text-color);
  line-height: 1.6;
}

/*========== LAYOUT ==========*/

.l-header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

/*========== NAV ==========*/
.nav {
  /* max-width: 1024px; */
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 45px;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  background: transparent;
  color: var(--primary-color);
  font-size: 0.75rem;
  font-weight: var(--font-medium);
  cursor: pointer;
  padding: 0 1.5rem;
  transition: 0.4s;
}
.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--primary-color);
  font-weight: var(--font-medium);
}
.nav__logo img {
  width: 150px;
}

.nav__logo:hover {
  color: var(--primary-color);
}

/* Show menu */
.show-menu {
  top: var(--header-height);
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--primary-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Active menu */
.active-link {
  color: var(--primary-color);
}

/********************************** End Of Part 1 **************************************/
/* .skf {
  -webkit-animation: mover 1s alternate infinite ease-in-out;
  animation: 1s alternate infinite ease-in-out;
}
@keyframes mover {
  0% {
    transform: translateY(0);
    animation-delay: 2s;
  }
  100% {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
    animation-delay: 2s;
  }
  100% {
    transform: translateY(-10px);
  }
} */

.skf {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

/*========== CLASS CSS ==========*/
.ROBOT {
  width: 20vw;
  height: auto;
  margin-top: -20% !important;
  margin-left: 20px;
  z-index: -100;
  animation: crescando 1.5s alternate infinite ease-in-out;
}

@keyframes crescando {
  0% {
    transform: scale(0.8);
    animation-delay: 2s;
  }
  100% {
    transform: scale(1);
  }
}
.ROBOT-Sofa {
  animation: crescando 1.5s alternate infinite ease-in-out;
}
@keyframes crescando {
  0% {
    transform: scale(0.8);
    animation-delay: 2s;
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-device-width: 370px) and (max-device-width: 414px) {
  .ROBOT {
    margin-left: 60%;
    z-index: -1;
  }
  .home__data h1 {
    font-size: 10px;
  }
}
@media screen and (min-device-width: 415px) and (max-device-width: 604px) {
  .ROBOT {
    margin-left: 70%;
    z-index: -1;
    margin-top: 25%;
  }
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  color: var(--primary-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*========== HOME ==========*/

.home-img {
  z-index: -1;
}
.home__container {
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.home__title {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

/* .home__img {
  justify-self: center;
} */

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--primary-color-alt);
}

/********************************** End Of Part 2 **************************************/

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-3);
}

.about__img {
  width: 280px;
  border-radius: 0.5rem;
  justify-self: center;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*========== Dark theme Variables CSS  ==========*/
body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
}

@media screen and (min-width: 768px) {
  :root {
    --large-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.6rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

/* Scroll top */
.scrolltop {
  position: fixed;
  color: #fff;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(37, 84, 214, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--primary-color-alt);
}

/* Show scrolltop */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/****************************** End Of Three ****************************************/

/*========== SERVICES ==========*/
.services__container {
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
  text-align: center;
}

.services__img {
  width: 64px;
  height: 64px;
  fill: var(--primary-color);
  margin-bottom: var(--mb-2);
}

.services__title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description {
  padding: 0 1.5rem;
}

/*========== MENU ==========*/
.menu__container {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.menu__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: 99em;
  box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
  padding: 3.75rem 0.75rem;
}

.menu__img {
  width: 100px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name,
.menu__preci {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name {
  font-size: var(--normal-font-size);
  text-align: center;
}

.menu__detail,
.menu__preci {
  font-size: var(--small-font-size);
  text-align: center;
}

.menu__detail {
  margin-bottom: var(--mb-1);
  text-align: center;
}

.menu__button {
  position: absolute;
  bottom: 5px;
  right: 10px;
  display: flex;

  border-radius: 99em;
}

/*========== APP ==========*/
.app__data {
  text-align: center;
}

.app__description {
  margin-bottom: var(--mb-5);
}

.app__stores {
  margin-bottom: var(--mb-4);
}

.app__stores i {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
}

.app__store {
  width: 120px;
  margin: 0 var(--mb-1);
  font-size: var(--large-font-size);
}

.app__img {
  width: 230px;
  justify-self: center;
}

/*========== CONTACT ==========*/
.contact__container {
  text-align: center;
}

.contact__description {
  margin-bottom: var(--mb-3);
}

/*========== FOOTER ==========*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  font-size: var(--h3-font-size);
  color: var(--primary-color);
  font-weight: var(--font-semi-bold);
}

.footer__description {
  display: block;
  font-size: var(--small-font-size);
  margin: 0.25rem 0 var(--mb-3);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover {
  color: var(--primary-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/* New */
.content {
  position: relative;
  height: 230px;
  width: 230px;
  border-radius: 12px;
  margin: 0 auto;
}
.content video {
  height: 230px;
  width: 230px;
  border-radius: 12px;
}
.set-1 .content:nth-child(1):before {
  content: "";
  position: absolute;
  background-size: cover;

  background-image: url("../videos/main/1.jpg");
  height: 275px;
  width: 275px;
  background-image: url("../videos/main/1.jpg");
  height: 230px;
  width: 230px;
  border-radius: 12px;
}
.set-1 .content:nth-child(2):before {
  content: "";
  position: absolute;
  background-size: cover;

  background-image: url("../videos/main/2.jpg");
  height: 275px;
  width: 275px;
  background-image: url("../videos/main/2.jpg");
  height: 230px;
  width: 230px;
  border-radius: 12px;
}
.set-1 .content:nth-child(3):before {
  content: "";
  position: absolute;
  background-size: cover;
  background-image: url("../videos/main/3.jpg");
  height: 275px;
  width: 275px;
  background-image: url("../videos/main/3.jpg");
  height: 230px;
  width: 230px;
  border-radius: 12px;
}
.set-2 .content:nth-child(1):before {
  content: "";
  position: absolute;
  background-size: cover;
  background-image: url("../videos/main/4.jpg");
  height: 275px;
  width: 275px;
  background-image: url("../videos/main/4.jpg");
  height: 230px;
  width: 230px;
  border-radius: 12px;
}
.set-2 .content:nth-child(2):before {
  content: "";
  position: absolute;
  background-size: cover;
  background-image: url("../videos/main/5.jpg");
  height: 275px;
  width: 275px;
  background-image: url("../videos/main/5.jpg");
  height: 230px;
  width: 230px;
  border-radius: 12px;
}
.set-3 .content:nth-child(1):before {
  content: "";
  position: absolute;
  background-size: cover;
  background-image: url("../videos/main/6.jpg");
  height: 275px;
  width: 275px;
  background-image: url("../videos/main/6.jpg");
  height: 230px;
  width: 230px;

  border-radius: 12px;
}
.set-3 .content:nth-child(2):before {
  content: "";
  position: absolute;
  background-size: cover;

  background-image: url("../videos/main/7.jpg");
  height: 275px;
  width: 275px;

  background-image: url("../videos/main/7.jpg");
  height: 230px;
  width: 230px;
  border-radius: 12px;
}
.set-4 .content:nth-child(1):before {
  content: "";
  position: absolute;
  background-size: cover;

  background-image: url("../videos/main/8.jpg");
  height: 275px;
  width: 275px;

  background-image: url("../videos/main/8.jpg");
  height: 230px;
  width: 230px;

  border-radius: 12px;
}
.set-4 .content:nth-child(2):before {
  content: "";
  position: absolute;
  background-size: cover;

  background-image: url("../videos/main/9.jpg");
  height: 275px;
  width: 275px;

  background-image: url("../videos/main/9.jpg");
  height: 230px;
  width: 230px;

  border-radius: 12px;
}
.set-5 .content:nth-child(1):before {
  content: "";
  position: absolute;
  background-size: cover;

  background-image: url("../videos/main/10.jpg");
  height: 275px;
  width: 275px;

  background-image: url("../videos/main/10.jpg");
  height: 230px;
  width: 230px;

  border-radius: 12px;
}
.set-5 .content:nth-child(2):before {
  content: "";
  position: absolute;
  background-size: cover;

  background-image: url("../videos/main/11.jpg");
  height: 275px;
  width: 275px;

  background-image: url("../videos/main/11.jpg");
  height: 230px;
  width: 230px;

  border-radius: 12px;
}
.set-5 .content:nth-child(3):before {
  content: "";
  position: absolute;
  background-size: cover;

  background-image: url("../videos/main/12.jpg");
  height: 275px;
  width: 275px;

  background-image: url("../videos/main/12.jpg");
  height: 230px;
  width: 230px;

  border-radius: 12px;
}

.cards {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
@media screen and (min-device-width: 340px) and (max-device-width: 800px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
.cards img {
  height: 230px;
  width: 230px;
  border-radius: 12px;
}
.three-cards {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
.two-cards {
  margin: auto 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.cards .mid-cards {
  padding: 180px 0 0 0 !important;
}

@media (max-width: 1080px) {
  .two-cards {
    display: none;
  }
}

/* Contact */
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact ul {
  list-style-type: none;
  width: 200px;
}
.contact ul li {
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .light {
    height: 500px;
    padding: 20px 20px 20px 20px;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .quickLinks {
    margin-top: 50px;
  }
  .contact ul {
    width: 100%;
    padding: 0;
  }
}
.split {
  padding: 3%;
  display: grid;
  grid-template-columns: auto auto;
}
.clear {
  clear: both;
}
.email {
  max-width: 420px;
  display: flex;
  align-items: center;
}
.js-hiddenform {
  display: none;
}
.js-form {
  display: block;
  transition: all 0.5s ease-in-out;
}
.color {
  color: #2b0505;
}
.half-width {
  width: 50%;
  float: left;
}
.label {
  display: none;
}
.form-field {
  color: #000000;
  width: calc(100% - 20px);
  height: 44px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px #c5c5c5;
  box-shadow: inset 0 0 3px #c5c5c5;
  border: 0px;
  margin-bottom: 10px;
}
.form-field::-webkit-input-placeholder {
  color: #000000;
}
.form-field:-moz-placeholder {
  color: #000000;
}
.form-field::-moz-placeholder {
  color: #000000;
}
.form-field:-ms-input-placeholder {
  color: #000000;
}
.form-field:focus {
  border-color: #000000;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
select.form-field {
  width: calc(100% - 10px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background: #fff url("https://www.kaptest.com/static/img/blue-down-arrow.png")
    no-repeat 98% center;
}
.contact-section {
  padding: 10% 0;
}
.center-block {
  display: block;
  margin-left: 17px;
  padding-left: 20%;
  padding-right: 20%;
}
.input {
  padding: 10px;
}
.contact-alng {
  color: #f1b809;
  text-align: left;
  margin-left: 9.5%;
  margin-right: 30%;
  font-size: 4rem;
  line-height: 70px;
  font-weight: bold;
}
.alng {
  margin-left: 10%;
  margin-right: 10%;
}
.split > .box {
  margin-top: 80px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.contact-img {
  width: 75%;
  border-radius: 15px;
  margin-top: 150px;
  left: 23%;
}
.chbox {
  color: #f1b809;
  display: inline-block;
  border: 1px solid #f1b809;
  margin: 0px 10px 0px 0px;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
  height: 40px;
  line-height: 36px;
}
.chbox input {
  display: none;
}
.chbox label {
  position: relative;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding: 2px 30px;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.chbox input:checked + label {
  color: #2b0505;
  background: #f1b809;
}
.chbox:nth-child(1) input:checked + label {
  color: #2b0505;
  background: #f1b809;
}
.chbox:nth-child(2) input:checked + label {
  color: #2b0505;
  background: #f1b809;
}
.chbox:nth-child(3) input:checked + label {
  color: #2b0505;
  background: #f1b809;
}
.chbox:nth-child(4) input:checked + label {
  color: #2b0505;
  background: #f1b809;
}
.chbox:nth-child(5) input:checked + label {
  color: #2b0505;
  background: #f1b809;
}
.chbox:nth-child(6) input:checked + label {
  color: #2b0505;
  background: #f1b809;
}
.chbox:nth-child(7) input:checked + label {
  color: #2b0505;
  background: #f1b809;
}
.chbox:nth-child(8) input:checked + label {
  color: #2b0505;
  background: #f1b809;
}

/* 360 */

.three-sixty-section {
  padding: 0% 10%;
  margin: auto 0;
  position: relative;
}
.three-sixty-video {
  width: 100%;
  border-radius: 15px !important;
  box-shadow: 0px 0px 10px #00000050, 0px 0px 20px #00000050;
  height: auto;
}
.three-sixty-text {
  text-align: center;
}
.btn-icon {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: #ffe462;
  border: none;
  background-color: #2b0505;
  font-size: 2.5vw;
  box-shadow: 0 0 5px #ffffff20, 0 0 10px #ffffff20;
}
.btn-icon .fa {
  position: absolute;
  top: 50%;
  transform: inherit;
  left: 50%;
}
.btn-icon:hover {
  background-color: #ffe462;
  color: #2b0505;
}
.btn-name {
  padding: 0.6vw;
}
.three-sixty-popup-text-inner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  font-size: 1.5vw;
  font-family: futuramedium;
  color: #fff;
  text-shadow: 0 0 5px #00000050, 0 0 10px #00000050;
  background-color: #2b050590;
  border-radius: 10px;
}
.popup-text p {
  padding: 5% 10%;
  margin-bottom: 0;
}
.three-sixty-popup {
  display: none;
}
.grid-2x2 {
  display: grid;
  gap: 10rem 1rem;
  grid-template-columns: 1fr 1fr;
}

/* Icon */
.icon-section {
  padding: 3% 10%;
  position: relative;
}
.icon-title {
  background-color: #ffe462;
  color: #2b0505;
  /* padding: 1% 0; */
  margin: 0 auto;
  text-align: center;
  width: 30vw;
  border-radius: 8px;
  z-index: 10;
  position: absolute;
  top: 6.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-title h1 {
  text-align: center;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-family: futuramedium;
}
.iconcard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: auto;
  height: 38vw;
  padding: 6% 3% 3%;
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(114, 114, 114, 0.5);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.iconcard .icon-block {
  font-family: futurabook;
  padding: 10% 8% 10% 10%;
  border-right: 2px solid rgba(255, 255, 255, 0.125);
}
.iconcard .icon-block:nth-child(4),
.iconcard .icon-block:nth-child(8) {
  border-right: none;
  padding: 10% 0 10% 10%;
}
.icon-block img {
  width: 5vw;
  height: auto;
  fill: var(--primary-color);
}
.icon-block h5 {
  font-size: 1.5vw;
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

/* Heading */
.robo-set-1 {
  height: 30vw;
  position: relative;
}
/* .robo {
  position: absolute;
  top: 26vw;
  right: 40vw;
  width: 60vw;
  height: auto;
  transform: scaleX(-1) translate(-50%, -50%);
} */
.luxury-heading {
  text-align: center;
  z-index: 1;
}
.luxury {
  font-size: 12vw;
  font-family: "cinzeldecorativebold";
  text-shadow: 0px 0px 13px #eaeaf025;
  color: #eaeaf0 !important;
}
.luxury span {
  font-size: 3vw;
  font-family: "herculesitalic";
  color: #eaeaf0 !important;
}
.design {
  position: absolute;
  margin: 0vw 0vw 0vw 19.5vw;
  bottom: 3vw;
  font-size: 10vw;
  font-family: "cinzelbold";
  text-shadow: 0px 0px 13px #ffc85725;
  color: #ffc857 !important;
}
@media (max-width: 500px) {
  .robo-set-1 {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
/* Main Cards */
@media (max-width: 1120px) {
}

/* MidHeading Sticky */
.robo-set-2 {
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10% 10%;
  height: 40vw;
  position: relative;
}
.robo-set-2 blockquote:nth-child(2) {
  padding: 10px 0;
}
.robo2 {
  position: absolute;
  right: 15vw;
  width: 28vw;
  height: auto;
}
.sticky {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  text-transform: uppercase;
}
.sticky-left {
  margin: auto;
  flex: 0.6;
}
.sticky-left h1 {
  font-size: 5vw;
  display: flex;
  justify-content: center;
  color: #ca943a;
  font-family: futuramedium;
}
.sticky-left h3 {
  font-size: 3vw;
  display: flex;
  justify-content: center;
  font-family: futurabook;
}
.sticky-right {
  margin: auto;
  flex: 0.4;
}
.sticky-right img {
  width: 45vw;
  height: auto;
  display: flex;
  justify-content: center;
}
/* .sticky {
  padding: 3rem;
  position: relative;
  box-sizing: border-box;
}
.sticky blockquote:nth-of-type(1) {
  top: 7rem;
  font-family: "futuramedium";
  text-transform: uppercase;
  color: #ffc857 !important;
  padding: 0vw 8vw 8vw 4vw;
  font-size: 100px;
  position: absolute;
  left: 10vw;
  text-transform: uppercase;
}
.sticky blockquote:nth-of-type(2) {
  content: attr(data-text);
  top: 13.5rem;
  font-family: "futuramedium";
  text-transform: uppercase;
  padding: 0vw 8vw 8vw 4vw;
  position: absolute;
  color: #fff;
  overflow: hidden;
  animation: type 10s linear infinite;
  font-size: 67px;
  left: 10vw;
  position: absolute;
}
.sticky blockquote:nth-of-type(3) {
  font-family: "futuramedium";
  text-transform: uppercase;
  color: #ffc857 !important;
  top: 16rem;
  padding: 0vw 8vw 8vw 4vw;
  font-size: 73px;
  left: 10vw;
  position: absolute;
} */

/* Design */
.D-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.D-left {
  position: relative;
  justify-items: center;
  align-items: center;
}
.D-left img {
  width: 25vw;
  height: auto;
}
.D-right {
  position: relative;
  text-align: left;
  font-family: futurabook;
  line-height: 4.5vw;
}
.D-right h1 {
  color: #e3c257;
  text-transform: uppercase;
  font-size: 78px;
  justify-content: flex-start;
}
.D-right h2 {
  color: #e3c257;
  text-transform: uppercase;
  font-size: 72px;
  justify-content: flex-start;
}
.D-right h3 {
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  text-align: flex-start;
}
@media screen and (min-device-width: 370px) and (max-device-width: 420px) {
  .D-right h1 {
    font-size: 20px !important;
    justify-content: center;
    text-align: center;
  }
  .D-right h2 {
    font-size: 20px;
    text-align: center;
  }
  .D-right h3 {
    font-size: 15px;
    text-align: center;
  }
}
@media screen and (min-device-width: 421px) and (max-device-width: 770px) {
  .D-right h1 {
    font-size: 36px !important;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
  }
  .D-right h2 {
    font-size: 36px;
    text-align: center;
  }
  .D-right h3 {
    font-size: 25px;
    text-align: center;
  }
  .D-left img {
    width: 200px;
    height: auto;
    margin: auto;
  }
}
@media screen and (min-device-width: 771px) and (max-device-width: 1025px) {
  .D-right h1 {
    font-size: 42px !important;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
  }
  .D-right h2 {
    font-size: 42px;
    text-align: center;
  }
  .D-right h3 {
    font-size: 25px;
    text-align: center;
  }
  .D-left img {
    width: 300px;
    height: auto;
    margin: auto;
  }
  .testimonials-new h1 {
    font-size: 20px;
  }
}
/* @media (max-width: 300px) { .D-right h1 { font-size: 15px !important; justify-content: center; text-align: center; } .D-right h3 { font-size: 15px; text-align: center; } } @media (max-width: 400px) { .D-container { flex-direction: column; margin: 20px; } .D-left { margin: auto; } .D-right h1 { font-size: 25px !important; justify-content: center; text-align: center; } .D-right h3 { font-size: 25px; text-align: center; } } */ /* @media (max-width: 500px) { .D-right h1 { font-size: 40px !important; justify-content: center; text-align: center; } .D-right h3 { font-size: 28px !important; text-align: center; } } @media (max-width: 600px) { .D-container { flex-direction: column; margin: 20px; } .D-right h1 { font-size: 35px; text-align: center; } .D-right h3 { font-size: 32px; text-align: center; } } @media (max-width: 800px) { .D-container { flex-direction: column; margin: 20px; } .D-right h1 { font-size: 65px; text-align: center; } .D-right h3 { font-size: 50px; text-align: center; } } */
@media screen and (min-device-width: 340px) and (max-device-width: 800px) {
  .robo {
    position: absolute;
    top: 15vw;
    left: -70vw;
    width: 120vw;
    height: auto;
    transform: scaleX(-1) translate(-50%, -50%);
    z-index: -1;
  }
}
/* @media screen and (min-device-width: 340px) and (max-device-width: 800px) {
  .robo {
    position: absolute;
    top: 15vw;
    left: -70vw;
    width: 120vw;
    height: auto;
    transform: scaleX(-1) translate(-50%, -50%);
    z-index: -1;
  }
} */
@media screen and (min-device-width: 801px) and (max-device-width: 1026px) {
  .D-container {
    flex-direction: column;
    margin: 20px;
  }
}
/* Design Two */
.designTwo {
  margin: 10% 0;
  background-image: url("../img/robo-1.gif");
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}
.designTwo-p {
  display: flex;
  justify-content: flex-start;
  color: white;
  font-family: futurameditalic;
  font-size: 50px;
}
.designTwo-h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #ffc85725, 0px 0px 10px #ffc85725,
    0px 0px 15px #ffc85725;
  color: #ffc857;
  font-family: futuramedium;
  font-weight: 500;
  letter-spacing: 3px;
  z-index: -1;
}
@media screen and (min-device-width: 340px) and (max-device-width: 414px) {
  .designTwo-h1 {
    font-size: 70px;
  }
}
@media (min-width: 300px) {
  .designTwo {
    margin-left: 10px;
    margin-right: 10px;
  }
  .designTwo-p {
    padding-left: 50px;
    font-size: 40px;
  }
  /* .designTwo-h1 {
    font-size: 90px;
  } */
}
@media (min-width: 600px) {
  .designTwo {
    margin-left: 20px;
    margin-right: 20px;
  }
  .designTwo-p {
    padding-left: 80px;
    z-index: -1;
  }
  .designTwo-h1 {
    font-size: 130px;
  }
}
@media (min-width: 768px) {
  .designTwo {
    margin-left: 20px;
    margin-right: 20px;
  }
  .designTwo-p {
    padding-left: 190px;
    z-index: -1;
  }
  .designTwo-h1 {
    /* font-size: 180px; */
    z-index: -1;
  }
}

@media (min-width: 1080px) {
  .designTwo-h1 {
    font-size: 250px;
  }
}

/* FAQ */
.faq {
  padding: 8% 15%;
  position: relative;
}
.faq-title h1 {
  padding: 25px 0;
  color: #ffc857;
  display: flex;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: futuramedium;
  font-size: 40px;
}
.faq-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 2vw;
}
.faq-content .panel-group {
  padding: 1% 3%;
  width: 100%;
  height: auto;
  border-radius: 12px;
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(114, 114, 114, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-family: futuramedium;
}
.faq-content .panel-group .panel-heading {
  display: flex;
  color: #ffe462;
  align-items: center;
  justify-content: space-between;
}
.faq-content .panel-group .panel-heading h2 {
  margin: 0;
  font-weight: 500;
}
.faq-content .panel-group .panel-heading div {
  text-align: right;
  text-decoration: none;
  color: #999;
  font-weight: 800;
  font-size: 2em;
}
.faq-content .panel-group .panel-body {
  margin: 0;
  font-family: futurabook;
  font-size: 1em;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.faq-content .panel-group .panel-body .panel-body-head {
  display: flex;
  text-transform: uppercase;
}
.faq-content .panel-group .panel-body .panel-body-head h5 {
  margin: 0;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
.faq-content .panel-group .panel-body .panel-body-head hr {
  width: 70%;
  border-top: 3px solid #999;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin: auto;
}
.faq-content .panel-group .panel-body p {
  margin: 1rem 0;
  font-weight: 400;
}
.faq-content .panel-group .panel-body span {
  color: #ffe462;
  font-weight: 400;
}
.collapse {
  display: none;
}
.panel-collapse {
  text-align: left;
  margin: 1rem 0 0 0;
}

/* Slider */
.slider {
  height: 340px;
  overflow: hidden;
  position: relative;
  top: 65px;
  width: 100%;
  border-radius: 6px;
  background-color: transparent;
}
.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(340px * 18);
}
.slider .slide-track:hover {
  animation-play-state: paused;
}
.slider .slide {
  height: 260px;
  width: 260px;
}
.slide {
  margin-bottom: 22%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}

.slide:nth-child(1),
.slide:nth-child(10) {
  background: url("../img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(2),
.slide:nth-child(11) {
  background: url("../img/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(3),
.slide:nth-child(12) {
  background: url("../img/3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(4),
.slide:nth-child(13) {
  background: url("../img/4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(5),
.slide:nth-child(14) {
  background: url("../img/5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(6),
.slide:nth-child(15) {
  background: url("../img/6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(7),
.slide:nth-child(16) {
  background: url("../img/7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(8),
.slide:nth-child(17) {
  background: url("../img/8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(9),
.slide:nth-child(18) {
  background: url("../img/9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide2 {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}
.slider .slide2 {
  height: 260px;
  width: 260px;
}
.slide2:nth-child(1),
.slide2:nth-child(10) {
  background: url("../img/10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide2:nth-child(2),
.slide2:nth-child(11) {
  background: url("../img/11.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide2:nth-child(3),
.slide2:nth-child(12) {
  background: url("../img/12.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide2:nth-child(4),
.slide2:nth-child(13) {
  background: url("../img/13.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide2:nth-child(5),
.slide2:nth-child(14) {
  background: url("../img/14.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide2:nth-child(6),
.slide2:nth-child(15) {
  background: url("../img/15.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide2:nth-child(7),
.slide2:nth-child(16) {
  background: url("../img/16.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide2:nth-child(8),
.slide2:nth-child(17) {
  background: url("../img/17.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide2:nth-child(9),
.slide2:nth-child(18) {
  background: url("../img/18.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slider .slide-track1 {
  animation: scroll 80s linear infinite;
  animation-direction: reverse;
  display: flex;
  width: calc(340px * 18);
}
.slider .slide-track1:hover {
  animation-play-state: paused;
}
.slider-reverse-position {
  color: rgb(255, 193, 7) !important;
  font-family: "futuramedium";
  font-size: 3.5rem !important;
  line-height: 4.1rem;
  position: relative;
  top: 250px !important;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

/* Testimonial New */
.test-card {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px 20px 20px 20px;
}
.testimonials-new {
  padding: 12% 0;
  position: relative;
}
.testimonials-new h1 {
  color: #ffc857;
  display: flex;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: futuramedium;
  font-size: 40px;
}
.slider .test-card {
  height: 260px;
  width: 260px;
}

.test-card {
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(114, 114, 114, 0.5);
  border-radius: 12px 12px 12px 12px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.test-card p {
  color: #fff;
  font-size: 0.8em;
  font-family: futurabook;
  font-weight: 200;
  padding: 5% 10% 0 10%;
}
.test-card h3 {
  color: #ffe462;
  padding: 0 10% 0 10%;
  font-size: 1.2em;
  font-family: futuramedium;
}
.test-card .test-work {
  display: flex;
}
.test-card .test-work h6 {
  color: #fff;
  font-size: 0.6em;
  padding: 0 5px 0 10%;
  font-family: futurabook;
}
.test-card .test-work span {
  position: absolute;
  left: 20.5%;
  bottom: 30%;
  font-size: 0.6em;
  color: #fff;
  font-family: futurabook;
}
.test-card .test-work h5 {
  color: #ffe462;
  font-size: 0.6em;
  padding: 0 10% 0 5px;
  font-family: futurabook;
}
.test-card .test-stars {
  color: #ffe462;
  font-size: 1em;
  padding: 0 10%;
}
.test-card .test-stars i {
  padding: 0 0 0 5px;
}
.clinet-img {
  position: absolute;
  right: -5px;
  bottom: -30px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(114, 114, 114, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.clinet-img img {
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 55px;
  height: 55px;
  border-radius: 50px;
}
/* Footer */
.footer {
  font-family: futuramedium;
}
.copy-social-container {
  background-color: #191919;
  height: auto;
}
.copy-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.text-end {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.light {
  height: 300px;
  background-color: #333333;
  padding: 50px;
}
.iconText {
  font-size: 12px;
  font-weight: normal;
  border-left: 1px solid #ffe462;
  padding-left: 10px;
}
.textYellow {
  font-size: 25px;
  color: #ffe462;
}
.txsi {
  font-size: 25px;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact ul {
  list-style-type: none;
  width: 200px;
}
.contact ul li {
  margin-bottom: 20px;
}
.heading {
  border-bottom: 1px solid #ffe462;
  color: #ffe462;
}
@media screen and (max-width: 800px) {
  .light {
    height: 500px;
    padding: 20px 20px 20px 20px;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .quickLinks {
    margin-top: 50px;
  }
  .contact ul {
    width: 100%;
    padding: 0;
  }
}
/* quote */
.quote {
  text-align: center;
}
/* FIXME */
