/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: futuramedium;
  src: url("../fonts/Futura-Medium.ttf");
}
@font-face {
  font-family: futurabook;
  src: url("../fonts/Futura-Book.ttf");
}
@font-face {
  font-family: futurameditalic;
  src: url("../fonts/Futura-Medium-Italic.ttf");
}
@font-face {
  font-family: cinzelbold;
  src: url("../fonts/Cinzel-Bold.ttf");
}
@font-face {
  font-family: cinzeldecorativebold;
  src: url("../fonts/CinzelDecorative-Bold.ttf");
}
@font-face {
  font-family: herculesitalic;
  src: url("../fonts/Hercules\ Text\ Italic.otf");
}
/*========== BASE CSS Styles ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  /* max-width: 100%; */
  height: auto;
}

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --primary-color: #ffc857;
  --primary-color-alt: #ffc857;
  --title-color: #ffc857;
  --text-color: #ffffff;
  --text-color-light: #a6a6a6;
  --body-color: #2b0505;
  --container-color: #2b0505;

  /*========== Font and typography ==========*/
  --body-font: futurabook, sans-serif;
  --large-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.638rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margins ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z-index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  background: url("../img/leaf.gif");
  background-size: 100% auto;
  background-repeat: round;
  background-attachment: fixed;

  color: var(--text-color);
  line-height: 1.6;
  letter-spacing: 0.05rem;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ul>li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.l-header {
    width: 95%;
    margin: 3rem auto 6rem;
}
  
.nav__list {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__logo img {
  width: 150px;
}

.nav-btn {
  font-family: futuramedium;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border: 2px solid;
  color: var(--primary-color);
  border-radius: 6px;
  background: transparent;
  font-size: 1rem;
  font-weight: var(--font-medium);
  cursor: pointer;
  padding: 0 1.5rem;
  transition: 0.4s;
}

.nav__link {
  color: var(--primary-color);
  text-decoration: none;
}
  
.site-map {
  display: flex;
  justify-content: flex-end;
  margin: 4rem 0;
}

.current__page {
  color: var(--primary-color);
}

main {
    width: 90%;
    margin: 0 auto;
}


main h1 {
    color: var(--title-color);
    font-size: var(--large-font-size);
    text-transform: uppercase;
    margin-bottom: 4rem;
}

main h2 {
    color: var(--title-color);
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 4rem;
    font-weight: normal;
}

main p {
    margin: 2rem 0;
}

main header p span a {
    color: var(--title-color);
    text-decoration: none;
}

main header p span a:hover {
    color: var(--title-color);
}

main header p span a:focus {
    color: var(--title-color);
}

footer {
    margin: 0;
    background-color: rgba(255,255,255,0.25);
}

/* ======= MOBILE VIEW ================ */
.logo-info {
    width: 60vw;
    margin: 0 auto;
}

.logo-info > img {
    display: block;
    margin: 0 auto;
}

.info {
    width: 60vw;
    margin: 1rem auto;
}

.about-us-text span {
    color: var(--primary-color);
}

.footer-col p {
    text-align: center;
}

.info p {
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.footer-col h3, .footer-col-main h3 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;
    color: var(--primary-color);
    text-transform: capitalize;
    text-align: center;
}

.footer-col {
    margin: 1rem auto;
}
.quick-links-list {
    text-align: center;
}

.socials-container {
    width: 100vw;
    background-color: var(--container-color);
    padding: 0.5rem 3rem;
    text-align: center;
}

i {
    color: var(--text-color-light);
    margin: 0 0.5rem;
}

@media screen and (min-width: 900px) {
    .container {
        margin: auto;
        padding: 4rem 0 2rem;
        border-top: 2px outset rgba(255,255,255,0.25);
        width: 100vw;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer-col-main {
        width: 50%;
        padding: 0 5% 0 5%;
    }
    
    .footer-col {
        width: 25%;
        padding: 0 5% 0 0;
    }
    
    .footer-col h3, .footer-col-main h3 {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 0;
        color: var(--primary-color);
        text-transform: capitalize;
    }
    
    .footer-col h3 {
        padding-bottom: 1rem;
        border-bottom: 1px solid gray;
    }
    
    .logo-info {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    
    .about-us-logo {
        width: 50%;
        padding-right: 0.5rem;
        border-right: 1px solid var(--primary-color);
    }
    
    .about-us-text {
        width: 50%;
        padding-left: 1rem;
    }
    
    .about-us-text span {
        color: var(--primary-color);
    }
    
    .info {
        width: 100%;
        text-align: left;
    }
    .info > p {
        margin: 0 0 0.5rem 0;
        font-size: 1.5rem;
    }
    
    .quick-links-list {
        padding-top: 0.5rem;
    }
    .quick-links-list li {
        padding: 0.5rem 0;
    }
    
    .insta-window {
        display: block;
        width: 100%;
        height: 50%;
        background-color: white;
    }
    
    .socials-container {
        width: 100vw;
        line-height: 1.5rem;
        padding: 1rem 7.5%;
        font-size: 0.75rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        background-color: #2b0505;
        color: var(--text-color-light);
    }
    
    .social-links {
        font-size: 1rem;
        color: var(--title-color);
    }
    
    i {
        margin: 0 0.5rem;
    }
}